/.idea/
/Intro/Intro.aux
/Intro/Intro.fdb_latexmk
/Intro/Intro.fls
/Intro/Intro.log
/Intro/Intro.out
/Intro/Intro.synctex.gz
/out/Intro.aux
/out/Intro.log
/out/Intro.out
/out/Intro.pdf
/out/Intro.synctex.gz

/out/
